<div>Tasks</div>
<%= @tasks.each do |task| %>
  <div><% task.name %></div>
<% end %>
<div>Users</div>
<div><% @users.to_s %></div>

<%#= @users.each do |user| %>
<!--  <div><%# user %></div>-->
<%# end %>